<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Desafio05 - Ejs</title>
    </head>
    <body>
        <header>
            <%- include ('partials/header.ejs') -%>
        </header>
        <nav>
            <%- include ('partials/navbar.ejs') -%>
        </nav>
        <div>
            <% if (vista) { %>
                <%- include('partials/form.ejs'); %>
            <% } else { %>
                <%- include('partials/table.ejs'); %>
            <% } %>
        </div>
    </body>
</html>