h1 Formulario
form(action="/productos" method="post")
    div(class="row g-3")
        div(class="col")
            input(type="text" placeholder="nombre" name="title")
        div(class="col")
            input(type="text" placeholder="precio" name="price")
        div(class="col")
            input(type="text" placeholder="url foto" name="url")
        div(class="col")
            button(type="submit" class="btn btn-outline-success") Guardar